services:
  db:
   image: postgres:15
   container_name: postgres_db
   ports:
    - "5433:5432"
   environment:
    POSTGRES_USER: ${POSTGRES_USER}
    POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    POSTGRES_DB: ${POSTGRES_DB}
   env_file:
    - .env